# MARIADB
MYSQL_DATABASE_NAME=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# WORDPRESS
WP_URL=
WP_TITLE=
# ADMIN_USER
WP_ADMIN_USERNAME=
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=
# NORMAL_USER
WP_USER_FIRSTNAME=
WP_USER_LASTNAME=
WP_USER_PASSWORD=
WP_USER_EMAIL=
WP_USER_ROLE=

WP_DIR=
WP_DB_HOST=